<div class="pos-f-t">
  <nav class="navbar navbar-dark bg-danger">
    <button class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>

    <h3>Challenge 2 Earn</h3>
  </nav>
</div>

<!-- <div style=" height: 80px;
background-color: #c2097b;
color: white;">
  <div  class="d-flex justify-content-start">
    <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div class="flex-wrap d-flex justify-content-center">
    <h3 >Challenge <br>2<br>Earn</h3>
  </div>
</div> -->
