<div class="label">
  <h4 class="separator">Challenges Available</h4>
</div>

<div class="d-flex justify-content-center">
  <form class="form-inline">
    <div class="mb-2 form-group mx-sm-3">
      <input
        class="form-control"
        id="inputPassword2"
        placeholder="search challenges"
      />
    </div>

    <button type="submit" class="mb-2 btn btn-primary btnclr">Search</button>
  </form>
</div>

<div class="d-flex justify-content-center">
  <label class="form-check-label" for="autoSizingCheck"> CRICKET </label>
  <span class="col-auto">
    <button type="submit" class="mb-2 btn btn-primary btnclr">see more</button>
  </span>
</div>
<div class="d-flex justify-content-center">
  <div class="flex-row d-flex">
    <div class="mb-3 card" style="max-width: 120px">
      <div class="card-body text-success">
        <img
          class="card-img-top"
          src="../../../assets/images/Indian cricket team.jpg"
          alt="Card image cap"
        />
      </div>
      <div class="card-footer card1">Indian cricket team</div>
    </div>

    <div class="mb-3 card" style="max-width: 120px">
      <div class="card-body text-success">
        <img
          class="card-img-top"
          src="../../../assets/images/sachin.jpg"
          alt="Card image cap"
        />
      </div>
      <div class="card-footer card1">Sachin Tendulkar</div>
    </div>

    <div class="mb-3 card" style="max-width: 120px">
      <div class="card-body text-success">
        <img
          class="card-img-top"
          src="../../../assets/images/Australian Cricket Team.jpg"
          alt="Card image cap"
        />
      </div>
      <div class="card-footer card1">Australian Team</div>
    </div>
  </div>
</div>

<div>
  <div class="d-flex justify-content-center">
    <label class="form-check-label" for="autoSizingCheck"> FOOTBALL </label>
    <span class="col-auto">
      <button type="submit" class="mb-2 btn btn-primary btnclr">
        see more
      </button>
    </span>
  </div>

  <div class="d-flex justify-content-center">
    <div class="flex-row d-flex">
      <div class="mb-3 card" style="max-width: 120px">
        <div class="card-body text-success">
          <img
            class="card-img-top"
            src="../../../assets/images/Fifa cup.jpg"
            alt="Card image cap"
          />
        </div>
        <div class="card-footer card1">FIFA WORLD CUP</div>
      </div>

      <div class="mb-3 card" style="max-width: 120px">
        <div class="card-body text-success">
          <img
            class="card-img-top"
            src="../../../assets/images/Lionel Messi.jpg"
            alt="Card image cap"
          />
        </div>
        <div class="card-footer card1">Lionel Messi</div>
      </div>

      <div class="mb-3 card" style="max-width: 120px">
        <div class="card-body text-success">
          <img
            class="card-img-top"
            src="../../../assets/images/Cristiano Ronaldo.jpg"
            alt="Card image cap"
          />
        </div>
        <div class="card-footer card1">Cristiano Ronaldo</div>
      </div>
    </div>
  </div>

  <div class="label">
    <h4 class="separator">Upcomming Challenge</h4>
  </div>

  <span class="d-flex justify-content-center">
    <mat-icon>access_time</mat-icon> Quiz about Football is about to start
    <button mat-raised-button routerLink="/form" class="button1">Join</button>
  </span>

  <div class="d-flex justify-content-center">
    <button mat-raised-button routerLink="/form" class="button">
      CREATE CHALLENGE
    </button>
  </div>
</div>
